<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @star.name %>
</p>

<p>
  <b>X:</b>
  <%= @star.x %>
</p>

<p>
  <b>Y:</b>
  <%= @star.y %>
</p>

<p>
  <b>Z:</b>
  <%= @star.z %>
</p>

<p>
  <b>Mass:</b>
  <%= @star.mass %>
</p>

<p>
  <b>Radium:</b>
  <%= @star.radium %>
</p>

<p>
  <b>Luminosity:</b>
  <%= @star.luminosity %>
</p>

<p>
  <b>Temp:</b>
  <%= @star.temp %>
</p>

<p>
  <b>Color:</b>
  <%= @star.color %>
</p>

<p>
  <b>Clase:</b>
  <%= @star.clase %>
</p>

<p>
  <b>User:</b>
  <%= @star.user_id %>
</p>

<p>
  <b>Aliance:</b>
  <%= @star.aliance_id %>
</p>

<p>
  <b>Near:</b>
  <%= @star.near %>
</p>

<p>
  <b>Intern line:</b>
  <%= @star.intern_line %>
</p>

<p>
  <b>Hot line:</b>
  <%= @star.hot_line %>
</p>

<p>
  <b>Snow line:</b>
  <%= @star.snow_line %>
</p>

<p>
  <b>Cool line:</b>
  <%= @star.cool_line %>
</p>


<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', stars_path %>
