<p id="notice"><%= notice %></p>

<p>
  <b>Star:</b>
  <%= @planet.star %>
</p>

<p>
  <b>Position:</b>
  <%= @planet.position %>
</p>

<p>
  <b>Mass:</b>
  <%= @planet.mass %>
</p>

<p>
  <b>Type:</b>
  <%= @planet.type %>
</p>

<p>
  <b>Atmosphere:</b>
  <%= @planet.atmosphere %>
</p>

<p>
  <b>Metal:</b>
  <%= @planet.metal %>
</p>

<p>
  <b>Water:</b>
  <%= @planet.water %>
</p>

<p>
  <b>Amoniate:</b>
  <%= @planet.amoniate %>
</p>

<p>
  <b>Carbone:</b>
  <%= @planet.carbone %>
</p>

<p>
  <b>N p:</b>
  <%= @planet.n_p %>
</p>

<p>
  <b>Fissionable material:</b>
  <%= @planet.fissionable_material %>
</p>

<p>
  <b>Mediumtemp:</b>
  <%= @planet.mediumtemp %>
</p>

<p>
  <b>Alliance:</b>
  <%= @planet.alliance %>
</p>

<p>
  <b>User:</b>
  <%= @planet.user %>
</p>

<p>
  <b>Organica:</b>
  <%= @planet.organicA %>
</p>

<p>
  <b>Organicb:</b>
  <%= @planet.organicB %>
</p>

<p>
  <b>Organicc:</b>
  <%= @planet.organicC %>
</p>

<p>
  <b>Metal cristal:</b>
  <%= @planet.metal_cristal %>
</p>

<p>
  <b>Habitables:</b>
  <%= @planet.habitables %>
</p>


<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
