<p id="notice"><%= notice %></p>

<p>
  <b>Planet:</b>
  <%= @moon.planet %>
</p>

<p>
  <b>Position:</b>
  <%= @moon.position %>
</p>

<p>
  <b>Mass:</b>
  <%= @moon.mass %>
</p>

<p>
  <b>Type:</b>
  <%= @moon.tipo %>
</p>

<p>
  <b>Atmosphere:</b>
  <%= @moon.atmosphere %>
</p>

<p>
  <b>Metal:</b>
  <%= @moon.metal %>
</p>

<p>
  <b>Water:</b>
  <%= @moon.water %>
</p>

<p>
  <b>Amoniate:</b>
  <%= @moon.amoniate %>
</p>

<p>
  <b>Carbone:</b>
  <%= @moon.carbone %>
</p>

<p>
  <b>N p:</b>
  <%= @moon.n_p %>
</p>

<p>
  <b>Fissionable material:</b>
  <%= @moon.fissionable_material %>
</p>

<p>
  <b>Mediumtemp:</b>
  <%= @moon.mediumtemp %>
</p>

<p>
  <b>Alliance:</b>
  <%= @moon.alliance %>
</p>

<p>
  <b>User:</b>
  <%= @moon.user %>
</p>

<p>
  <b>Organica:</b>
  <%= @moon.organicA %>
</p>

<p>
  <b>Organicb:</b>
  <%= @moon.organicB %>
</p>

<p>
  <b>Organicc:</b>
  <%= @moon.organicC %>
</p>

<p>
  <b>Metal cristal:</b>
  <%= @moon.metal_cristal %>
</p>

<p>
  <b>Habitables:</b>
  <%= @moon.habitables %>
</p>


<%= link_to 'Edit', edit_moon_path(@moon) %> |
<%= link_to 'Back', moons_path %>
